/* 글 삭제 */
.whole_memo{
	width: 300px;
	height: 300px;
	margin: auto;
	background-image: url("/hyeonA/images/postmemo.png");
	background-repeat: no-repeat;
	background-size: 298px 298px;
}

.space{
	width: 298px;		
	height: 45px;
}

.memo_subject{
	width: 298px;
	height: 32px;
	font-size: 17px;
	overflow: hidden;
}

.memo_content{
	width: 240px;
	height: 163px;
	overflow: auto;
	text-align: left;
	margin: auto;
}

.memo_time{
	width: 298px;
	height: 20px;
	margin-top: 10px;
	overflow: hidden;
}


#login_tb {
	border: 2px solid;
	border-color: #b4b4b4;
	padding: 3px;
	background-color: white;
}

#login_tb tr {
	height: 30px;
}
/* 리스트 div */
.list_wrap{
	margin-top: -40px;
	height: 530px;
}
/* memo 전체틀 */
.memo_list_wrap{
	width:800px;
	height: 400px;
}
/* memo 하나의틀 */
.memo_wrap{
	background-image: url("/hyeonA/images/post.png");
	background-size: 220px 210px;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto; 
	margin-left: 30px;
	width: 230px;
	height: 220px;
	float: left;
}
/* memo_top의 틀 */
.memo_top {
	position: relative;
	top:6px;
	margin-left: -6px;
	width: 180px;
	height: 50px;
	border-bottom: 3px solid #c0c0c0; 
}

/* memo의 글번호 부분 */
.memo_top_1{
	position: absolute;
	font-size: 17px;
	text-align: left;
 	width: 180px; 
}

/* memo의 제목부분 */
.memo_top_2{
	position: absolute;
	font-size: 13px;
	top: 27px;
	text-align: left;
}

/* memo_top부분 폼에 있는 이미지의 위치 */
.form_num{
	float: right; 
}
/* memo_의 내용부분 */
.memo_bottom {
	position: absolute;
	margin-left:18px;
	margin-top: 13px;
	font-size: 13px;
	text-align: left;
	height: 130px;
	overflow-y: auto;
}
.bottom_wrap{
	position: relative;
  	margin-top: 10px;   
}
.pageNum_wrap{
	position: absolute;
	margin-left: 180px;;
}

.list_search_form{
	width: 450px;
}
.list_search_table tr{
	width: 400px;
	height: 20px;	
}

 .img, .img2 {
	width: 20px;
	height: 20px;
	margin: 0 3px 0 0;
}
.search_textbox{
	width: 160px;
	height: 22px;
}
.modify_form{
	background-image: url("/hyeonA/images/post.png");
	background-repeat: no-repeat;
	background-size: 510px 450px;
 	margin-left: 25px; 
	width: 530px;
	height: 460px;
}
.modify_table{
	position:absolute;
	margin-top: 20px; 
	margin-left: 32px;
	width: 450px;
	height: 300px;
}
.modify_table tr{
	height: 40px;
}

 /* 글작성에 있는 테이블 */
.write_form{
	background-image: url("/hyeonA/images/post.png");
	background-repeat: no-repeat;
	background-size: 510px 470px;
 	margin-left: 25px; 
	width: 530px;
	height: 490px;
	
}
.write_table{
	position:absolute;
	margin-top: 20px; 
	margin-left: 32px;
	width: 450px;
	height: 300px;
}
.write_table tr{
	height: 50px;
}
.write_input{
	text-align: left;
}
.write_th{
	text-align: center;
	font-size: 20px;
}
.write_td{
	font-size: 16px;
	width: 110px;
 	text-align: center; 
}
.textbox_w{
	border-radius: 3px;
	background-color: ivory;
	font-size: 10pt;
	color: #000040;
}
