
/* 글 수정 테이블 */
.modify_wrap{
	height: 530px;
	overflow: scroll;
}

.modify_table{
	margin: auto;
} 

.modify_table td{
	height: 20px;
}
/* 리스트 div */
.list_wrap{
	margin-top: -40px;
	height: 530px;
}
/* memo 전체틀 */
.memo_list_wrap{
	width:800px;
	height: 400px;
}
/* memo 하나의틀 */
.memo_wrap{
	background-color: white;
	position: relative;
	margin: 5px auto; 
	margin-left: 48px;
	width: 200px;
	height: 180px;
	float: left;
}
/* memo_top의 틀 */
.memo_top {
	background-color: lightgray;
	position: relative;
	height: 50px;
}

/* memo의 글번호 부분 */
.memo_top_1{
	position: absolute;
	text-align: left;
	padding: 2px;
	top: 2px;
	width: 200px;
}

/* memo의 제목부분 */
.memo_top_2{
	position: absolute;
	padding: 2px;
	top: 26px;
	text-align: left;
}

/* memo_top부분 폼에 있는 이미지의 위치 */
.form_num{
	float: right; 
}
/* memo_의 내용부분 */
.memo_bottom {
	background-color: white;
	position: absolute;
	text-align: left;
	height: 130px;
	overflow-y: auto;
}
.bottom_wrap{
	position: relative;
 	margin-top: -10px; 
}

 .pageCount_wrap {
 	margin-bottom: 0 auto;
	width: 200px;
	height: 25px;	
} 
.list_search_table tr{
	width: 400px;
	height: 20px;	
}

 .img, .img2 {
	width: 20px;
	height: 20px;
	margin: 0 3px 0 0;
}
.search_textbox{
	width: 160px;
	height: 22px;
}