
tr{
	height: 75px;
}

td{
	text-align: center;
}

.a{
	border: 3px solid white;
	width: 120px;
	height: 90px;
	background-color: #d2d2d2;
}

.b{
	border: 3px solid white;
	width: 120px;
	height: 90px;
	background-color: pink;
}

.c{
	width: 120px;
	height: 90px;
}