
tr{
	height: 75px;
}

td{
	text-align: center;
}

.a{
	border: 5px solid white;
	width: 120px;
	height: 90px;
	background-color: #fefcd8;
}

.b{
	border: 5px solid white;
	width: 120px;
	height: 90px;
	background-color: #ffceef;
}

.c{
	width: 120px;
	height: 90px;
}