
tr{
	height: 75px;
}

td{
	text-align: center;
}

.a{
	border: 3px solid white;
	width: 120px;
	height: 90px;
	background-color: #fee8a5;
}

.b{
	border: 3px solid white;
	width: 120px;
	height: 90px;
	background-color: #ff8080;
}

.c{
	width: 120px;
	height: 90px;
}