 html, body{
	margin: 0;
	padding: 0;
	width: 100%
}
div{
	margin: 0;
	padding: 0;
} 

/* 탑_div */
.top_table{
	width: 950px;
	height: 30px;
	background-color: #4aa5ff;
	border-radius: 10px;
}

/* 메인탑 DIV */
.parking_top{
	margin: 1px auto;	
}

/* 전체틀 DIV */
.park_container{
   width: 960px;
   height: 620px;
   padding: 0;
   position: relative;
   margin: auto;
}

/* 주차공간, 상황판 DIV */
.parking_wrap{
   width: 800px;
   height: 500px;
}

/* 주차공간 DIV */
.park{
   background-image:url("/hyeonA/images/park_board.jpg");
   	background-size: 100% 100%;
    background-repeat: no-repeat;
   height: 530px;
   border-radius: 10px;
}

/* 상황판 DIV */
.op_board{
   width: 800px;
   margin: auto;
}


/* 메뉴 DIV */
.menu{
	width: 120px;
	position: absolute;
	top: 100px;
	left: 830px;
}

/* 상황판 안의 테이블 */
#temp_table{
	width:800px;
	background-image: url("/hyeonA/images/op_board.jpg");
	opacity: 0.9;
	filter: alpha(opacity:100);
	background-size: 100% 100%;
    background-repeat: no-repeat;
	border-radius: 10px;
}

/* 상황판 안의 테이블 tr로 높이 지정 */
#temp_table tr{
	height: 60px;
}
 
/* 요금정산 전체틀  */
.calc{
	height: 480px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

/* 요금정산 테이블을 감싸는 전체틀 */
.calc_table_wrap{
	width: 606px;
    height: 350px;
	margin: 5px auto; 
}

/* 요금정산 테이블 */
.calc_table_wrap table{
	border-collapse:collapse;
    table-layout: fixed;
}

/* 요금정산 헤드부분 */
.calc_top tr{
	position: absolute;
	margin: -1px 0 0 -1px; 
    width: 600px;
 	height: 10px; 
    display: table;
   	table-layout: fixed;
	background-color: #d4d4d4;
}
.calc_top tr th{
	text-align: center;
}
.top_th1{
	width: 74px;
}
.top_th2{
	width: 76px;
}
.top_th3{
	width: 106px;
}
.top_th4{
	width: 90px;
}
.top_th5{
	width: 98px;
}

/* 요금정산 테이블의 중간부분 /스크롤바 있음 */
.calc_mid{
	position: absolute;
	width: 600px;
    height: 315px;
    margin: 0 0 0 -2px;
    top: 123px;
 	overflow-y:auto; 
}

.calc_mid tr{
	width: 600px;
	height: 10px; 
}

.calc_cell_1{
	width: 103px;
	background-color: white;
	border: 1px solid black;
}
.calc_cell_2{
	width: 140px;
	background-color: white;
	border: 1px solid black;
}

.calc_table td{
	border: 1px solid black;
}

/* 요금정산 테이블의 꼬리 부분 */
 .calc_bottom {
	position:absolute;
	bottom: 40px;
} 
 .calc_bottom tr{
	position: absolute;
	margin: -1px 0 0 -1px; 
    width: 600px;
 	height: 10px; 
    display: table;
    text-align: center;
   	table-layout: fixed;
	background-color: #d4d4d4;
} 

 .2_wrap {
	position:relative;
	width:100%;
	margin:20px auto;
}

 .search_form_wrap{
	top:200px;
	margin: auto;
} 

/* 차량검색 테이블 */
.search_form_table, .search_form_table tr th, .search_form_table td {
	margin: auto;
	text-align: center;
}
.search_form_table tr th{
	font: 25px oblique;
}
