html, body{
	margin: 0;
	padding: 0;
	width: 100%
}
div{
	margin: 0;
	padding: 0;
}
.park{
   background-image: url('/hyeonA/images/bg_img1.jpg');
   background-repeat: repeat;
}
.park_container{
	width: 870px;
	padding: 0;
	margin: 20px auto;
	position: relative;
}

.parking_wrap{
	width: 720px;
	height: 600px;
}


.op_board{
	width: 720px;
	margin-top: 20px;
}

.menu{
	width: 120px;
	position: absolute;
	top: 75px;
	left:750px;
}
#temp_table{
	width:720px;
	height:40px;
	background-color: black;
	
}
#temp_td, #temp_tr{
	width:360px;
	height:40px;
}

.park, .calc{
	position:relative;
	margin:0 auto;
	height: 525px;
	width: 720px;
}

.calc_table2_wrap {
	position:relative;
	width:100%;
	margin:20px auto;
}


.calc_table2 th{
	padding:5px;
	float:left;
	text-align: center;
	height:50px;
} 

.calc_table,.calc_table tr,.calc_table th, .calc_table td{	
	text-align: center;
	padding:5px;
	border: 1px solid black;
}
.calc_table {
	margin:10px auto;
	letter-spacing: 1px;
}

 .calc_table2 {
 	position:absolute;
 	display:block;
 	right:45px;
 }

.search_form{
	top:200px;
}
.calc_table_wrap_top{
	position: relative;
	border: 1px solid #ff00ff;
}
.calc_table_wrap {
	display:block;
	width:100%;
/* 	height:300px; */
/* 	overflow:auto; */
	margin-top:30px;
}

div.calc_table_wrap_top > div.calc_table_wrap{
	height:300px; 
	overflow:auto; 
}
thread tr{
	position: absolute;
	display: block;
	
}


