html, body{
	margin: 0;
	padding: 0;
	width: 100%
}
div{
	margin: 0;
	padding: 0;
}
.park_container{
	width: 870px;
	padding: 0;
	margin: 40px auto;
	position: relative;
}

.parking_wrap{
	width: 720px;
}
.park{
	width: 100%;
}

.op_board{
	width: 720px;
	margin-top: 30px;
}

.menu{
	width: 120px;
	position: absolute;
	top: 43px;
	left:750px;
}
#temp_table{
	width:720px;
	height:120px;
	background-image: url('/hyeonA/images/bg_img1.jpg');
	
}
#temp_td, #temp_tr{
	width:360px;
	height:120px;
}
#temp_table, #temp_td, #temp_tr{
	border: 3px solid black;
}

