 html, body{
	margin: 0;
	padding: 0;
	width: 100%
}
div{
	margin: 0;
	padding: 0;
} 
.park{
   background-image: url('/hyeonA/images/bg_img2.jpg');
   background-repeat: repeat;
}
.parking_top{
	margin: 1px auto;	
}

.park_container{
	width: 870px;
	padding: 0;
	margin: 20px auto;
	position: relative;
	border: 1px solid pink;
}

.parking_wrap{
	width: 720px;
	height: 600px;
	border: 1px solid red;
}

.op_board{
	width: 720px;
	margin-top: 20px;
}

.menu{
	width: 120px;
	position: absolute;
	top: 75px;
	left:750px;
}
#temp_table{
	width:720px;
	height:40px;
	background-color: black;
	
}
#temp_td, #temp_tr{
	width:360px;
	height:40px;
}

 .park, .calc_wrap{
 	position:relative; 
	margin:0 auto;
	height: 478px;
	width: 715px;
} 
.calc{
	border: 1px solid #0000ff;
	height: 460px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.calc_table_wrap{
	width: 600px;
    height: 365px;
    margin: 10px auto;

 	overflow-y: scroll; 
	border: 1px solid yellow;
}
.calc_table{
	width: 100%;
    text-align: center; 
    border-collapse:collapse; 
    table-layout: fixed;
	border: 1px solid black;
	margin: 0 auto;
}
.calc_table thead tr{
	margin: -1px 0 0 -1px;
    width: 600px;
    height: 10px;
    display: table; 
    table-layout: fixed;
    	position: absolute;
    background-color: #d4d4d4;
}
.calc_table thead th{
	text-align: center;
}
.calc_table tfoot tr{
	margin: -1px 0 0 -1px; 
    width: 600px;
 	height: 10px; 
    display: table;
    table-layout: fixed;
	background-color: #d4d4d4;
} 
 .calc_table tbody tr{
 	width: 600px;
	height: 5px;
}
 .calc_table tbody{
  	overflow: auto;
  	max-height:200px
 }

.calc_table_tr, .calc_table_td, .calc_table th{
	border:1px solid black;
}

.2_wrap {
	position:relative;
	width:100%;
	margin:20px auto;
}

.search_form_wrap{
	top:200px;
	margin: auto;
	border: 3px solid pink;
}
.search_form_table, .search_form_table tr th, .search_form_table td {
	margin: auto;
	text-align: center;
}
.search_form_table tr th{
	font: 25px oblique;
}

