html, body{
	margin: 0;
	padding: 0;
	width: 100%
}
div{
	margin: 0;
	padding: 0;
}
.park_container{
	width: 870px;
	padding: 0;
	margin: 20px auto;
	position: relative;
	border: 1px solid #8000ff;
}

.parking_wrap{
	width: 720px;
	height: 600px;
	border: 1px solid #ffff00;
}
.park, .pay, .regist, .calc, .search{
	height: 480px;
	width: 100%;
}

.op_board{
	width: 720px;
	margin-top: 30px;
	border: 1px solid red;
}

.menu{
	width: 120px;
	position: absolute;
	top: 75px;
	left:750px;
	border: 1px solid #ff8000;
}
#temp_table{
	width:720px;
	height:120px;
	background-image: url('/hyeonA/images/bg_img1.jpg');
	
}
#temp_td, #temp_tr{
	width:360px;
	height:120px;
}
#temp_table, #temp_td, #temp_tr{
	border: 3px solid black;
}

.calc_table2, .calc_table2 tr, .calc_table2 th{
	text-align: center;
	border: 1px solid black;
} 

.calc_table{
		width:500px;
	height: 200px;
}

.calc_table,.calc_table tr,.calc_table th, .calc_table td{
	
	text-align: center;
	border: 1px solid black;
}